@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Tiro+Devanagari+Hindi&display=swap');
body {
    background-color: white;
    overflow-x: hidden;
}

.head {
    height: 500px;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(./images/endworldintro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0%;
}

nav {
    width: 100%;
    height: 55px;
    line-height: 55px;
    padding: 0px 100px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin-top: 0px;
}

nav .logo {
    font-size: 30px;
    letter-spacing: 1, 5px;
}

nav .logo p {
    float: left;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 32px;
    font-family: sans-serif;
}

nav ul li a:hover {
    color: rgb(14, 188, 191);
    text-decoration: none;
}

.title {
    margin-top: 150px;
    position: relative;
    margin-left: 20px;
    border-radius: 100px;
}

.title h1 {
    color: white;
    font-size: 70px;
    font-family: 'Tiro Devanagari Hindi', serif;
    text-transform: capitalize;
}

.content {
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.mini-title {
    color: black;
    font-weight: bold;
    font-size: 20px;
}