@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Tiro+Devanagari+Hindi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Tiro+Devanagari+Hindi&display=swap');
body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.intro {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("./images/megaphoneintro.f055e8fadd0d.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    width: 100%;
    height: 55px;
    line-height: 55px;
    padding: 0px 100px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

nav .logo {
    font-size: 30px;
    letter-spacing: 1, 5px;
}

nav .logo p {
    float: left;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 32px;
    font-family: sans-serif;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0px 32px;
    font-family: sans-serif;
}

nav ul li a:hover {
    color: rgb(251, 92, 0);
    text-decoration: none;
}

#toggle-button {
    float: right;
    margin-left: 30%;
    display: none;
    position: fixed;
}

.intro-title {
    position: relative;
    display: flex;
    margin-top: 150px;
    font-family: 'Tiro Devanagari Hindi', serif;
}

.navbar-nav {
    float: right
}


/*.verticalline {
    height: 300px;
    border-right: 2px solid #ffffff;
    position: absolute;
    right: 70%;
}
*/

.intro-cont h1 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    display: inline;
    border-style: none solid none none;
    margin: 10px;
    padding: 10px;
    /* right: 55.5%;*/
    position: relative;
}

#title-span {
    width: 14px;
}

.intro-about {
    margin-left: 25%;
    margin-right: 40%;
    margin-top: 100px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.button-joinus {
    position: absolute;
    left: 25px;
    width: 300px;
    height: 45px;
    margin-top: 70px;
    background-color: transparent;
    border-radius: 250px;
    border-color: rgb(240, 241, 242);
    transition: margin-top ease 0.2s;
    transition: all 0.5s;
    cursor: pointer;
    color: #FFFFFF;
}

.title-link {
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.button-joinus:hover {
    background-color: rgba(86, 86, 86, 0.267);
    backdrop-filter: blur(10px)
}

.title-link:hover {
    color: white;
    text-decoration: none;
}

.headertitle {
    display: inline-flex;
    width: 100vw;
    margin-top: 140px;
}

.verticallinediv {
    border-style: none solid none none;
    margin: 10px;
    padding: 10px;
    color: #fff;
    width: 65%;
    height: 300px;
}

.verticallinediv h1 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    font-family: 'Tiro Devanagari Hindi', serif;
}

.preview {
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 30%;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.preview p {
    text-align: center;
}

.attribution {
    float: right;
    color: white;
    margin-top: 60px;
    font-family: 'poppins', sans-serif;
}

.attribution a {
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: none;
}

.icn-drop {
    color: #fff;
}

.remove {
    display: none;
}

@media screen and (max-width:768px) {
    .preview {
        margin-top: 50px;
    }
    .intro {
        width: 100vw;
        height: 100vh;
    }
    .preview p {
        font-size: 13px;
        margin-left: 2px;
        margin-right: 5%;
        color: white;
        width: 100%;
        text-align: start;
    }
    .preview {
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    .verticallinediv h1 {
        font-size: 12px;
    }
    .headertitle {
        display: block;
        width: 100vw;
        margin-top: 100px;
    }
    .verticallinediv {
        margin: 10px;
        padding: 10px;
        color: transparent;
        height: 250px;
    }
    .verticallinediv h1 {
        color: white;
        font-size: 55px;
        text-transform: capitalize;
        font-family: 'Tiro Devanagari Hindi', serif;
    }
    .button-joinus {
        position: absolute;
        left: 25px;
        width: 300px;
        height: 45px;
        margin-top: 5px;
        background-color: transparent;
        border-radius: 250px;
        border-color: #ffff;
        transition: margin-top ease 0.2s;
        transition: all 0.5s;
        cursor: pointer;
        color: #FFFFFF;
    }
    .attribution a {
        text-decoration: none;
        font-size: 12px;
        margin-right: 40px;
        color: rgb(251, 92, 0);
    }
    .attribution a:hover {
        text-decoration: none;
    }
    nav {
        width: 100%;
        height: 55px;
        line-height: 55px;
        padding: 0px 30px;
        position: relative;
        z-index: 1;
        cursor: pointer;
    }
    #nav ul.open {
        float: right;
        display: flex;
    }
    #nav ul li.open {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-right: 5%;
    }
    #nav ul li a {
        color: #030303;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
        padding: 0px 32px;
        font-family: sans-serif;
    }
    #nav ul li a:hover {
        color: rgb(251, 92, 0);
        text-decoration: none;
    }
    nav .logo {
        display: none;
    }
    .remove {
        display: flex;
        background-color: transparent;
        height: 40px;
        width: 40px;
        align-items: center;
        border: none;
        outline: none;
    }
    .remove i:hover {
        color: rgb(251, 92, 0);
    }
    #toggle-button {
        display: flex;
        float: right;
        margin-left: 85%;
        background-color: transparent;
        padding-top: 2%;
        margin-top: 4%;
        height: 50px;
        border: none;
        outline: none;
    }
    #toggle-button i {
        margin-top: 4%;
    }
    #nav {
        position: fixed;
        top: 0;
        right: -250px;
        /* Adjust the width to match the navigation width */
        width: 250px;
        height: 100%;
        background-color: rgb(255, 255, 255);
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: right 0.3s ease-in-out;
        z-index: 1000;
    }
    #nav.open {
        right: 0;
    }
}